!!! 5
html
	head
		meta(charset="utf-8")
		title Hold on...
		link(rel="stylesheet",type="text/css",href="css/main.css")
	body
		script(src="/js/lib/parseUri.js")            
		script
			window.opener.app.authorize( "#{twitter.key}" , "#{twitter.secret}");
			window.close();