meta(charset="utf-8")
meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=0;")
meta(name="apple-mobile-web-app-capable", content="YES")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
meta(property="fb:app_id", content="149260988448984")
meta(name="title", content="Rumpetnode!")
meta(name="description", content="A massive multiplayer experiement done in HTML5/Canvas/JS and magical websockets. Rumpetroll is norwegian, but probably not what you think")