script(type="text/javascript", src="http://platform.twitter.com/widgets.js")
script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")

script(src="js/lib/parseUri.js")
script(src="js/lib/modernizr-1.5.min.js")
script(src="js/lib/Stats.js")
script(src="json.js")

script(src="js/App.js")
script(src="js/Model.js")
script(src="js/Settings.js")
script(src="js/Keys.js")
script(src="/socket.io/socket.io.js")
script(src="js/SocketService.js")
script(src="js/Camera.js")

script(src="js/Tadpole.js")
script(src="js/TadpoleTail.js")

script(src="js/Message.js")
script(src="js/WaterParticle.js")
script(src="js/Arrow.js")
script(src="js/formControls.js")

script(src="js/main.js")

script(src="js/analytics.js")

script(type="text/javascript", src="http://use.typekit.com/znu4fui.js")
script(type="text/javascript")
	try{Typekit.load();}catch(e){}
